body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

.wrap {
    width: 500px;
    margin: 60px auto;
    border: solid 1px #aaa;
    padding: 60px;
    border-radius: 60px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

strong {
    font-weight: 800;
}

input {
    display: block;
}

.hidden {
    display: none;
}